* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Reset some default margin and padding */
body, html {
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 100vh;
}

/* Style for the page wrapper */
.page_wrapper {
  display: flex;
  height: 100vh;
}

/* Style for the logo */
.logo-wrapper {
  text-align: center;
  margin-bottom: 20px;
}
.logo {
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: #333;
}

/* Style for the side panel */
.sidebar {
  background-color: #f1f1f1;
  padding: 20px;
  width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

/* Style for the search bar */
.searchbar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-bottom: 20px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.map-area {
  flex-basis: 100%;
}

/* Additional styles for the search results */
.search-results {
  max-height: 100vh;
  overflow-y: auto;
  padding: 10px;
  margin-top: 10px;
}

.result-item {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  gap: 5px;
  cursor: pointer;
  padding: 15px;
  border-bottom: 2px solid #b8b6b6;
  transition: background-color 0.3s ease;
}

.result-item:last-child {
  border-bottom: none;
}

.result-item:hover {
  background-color: #d3d1d1;
}

.result-details {
  flex-grow: 1;
}

.result-name {
  font-weight: bold;
}

  .result-description {
  font-size: 16px;
  color: #666;
}
