/* ----- General Styling ----- */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

/* Style for the page wrapper */
.page_wrapper {
  display: flex;
  height: 100vh;
}

#map {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.map-area {
  flex-basis: 100%;
}

/* ----- Sidebar Results Styling ----- */

/* Style for the logo */
.logo-wrapper {
  text-align: center;
  margin-bottom: 20px;
}
.logo {
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: #2674bc;
}

/* Style for the side panel */
.sidebar {
  background-color: #f1f1f1;
  padding: 20px;
  width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.search-mode-button {
  padding: 5px 10px;
  background-color: #599fea;
  margin: 0px 6px 0px 5px;
  margin-bottom: 15px;
  color: #fff;
  border-radius: 20px; 
  border: none;
  cursor: pointer;
  transition: background-color 0.8s ease;
}

.search-mode-button.active {
  background-color: #2674bc;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 1),
              0 0 0 5px #2674bc; 
     
}

/* Style for the search input */
.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

/* Style for the category dropdown */
.category-dropdown {
  display: none; /* Hide the dropdown by default */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

/* Hidden class to hide elements */
.hidden {
  display: none !important;
}


/* Style for the search bar */
.searchbar, 
#categorySearchDropdown {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-bottom: 20px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

/* Additional styles for the search results */
.search-results {
  max-height: 100vh;
  overflow-y: auto;
  padding: 10px;
  margin-top: 10px;
}

.result-item {
  display: flex;
  flex-direction: column; 
  gap: 5px;
  cursor: pointer;
  padding: 15px;
  border-bottom: 2px solid #b8b6b6;
  transition: background-color 0.3s ease;
}

.result-item:last-child {
  border-bottom: none;
}

.result-item:hover {
  background-color: #d3d1d1;
}

.result-details {
  flex-grow: 1;
}

.result-name {
  font-weight: bold;
}

  .result-description {
  font-size: 16px;
  color: #666;
}

/* ----- Sidebar Market Products Styling ----- */


/* .sidebar-container {
  position: absolute;
  top: 0;
  left: -100%; 
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
} */

.fa-xmark {
  cursor: pointer;
}

/* Style for the store details */
.store-details {
  align-items: center;
}

/* Style for the store name */
#storeName {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px; 
}

/* ----------- Style for the "Submit an Offer" button and its popup ----------- */

#submitOffer {
  padding: 10px 20px; 
  background-color: #2674bc; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; 
  transition: background-color 0.3s ease; 
  float: right;
  margin-top: 32px;
}

.submitOffer:hover {
  background-color: #0056b3; 
}

.hide-submit-button {
  display: none;
}

/* -----------  CSS for the popup container -----------  */

/* Styles for the overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}


.popup {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  width: 70%; 
  max-width: 400px; 
  padding: 20px;
  border-radius: 8px;
  color: #fff;
}

.popup.active {
  display: block;
}

.popup-content {
  text-align: center;
}

.popup h3 {
  margin-top: 0;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

.popup-close:hover {
  color: #ccc;
}

.popup form {
  margin-top: 20px;
}

.popup label {
  display: block;
  margin-bottom: 5px;
}

.popup select,
.popup input[type="number"],
.popup input[type="text"],
.popup button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
}

.popup button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.popup button:hover {
  background-color: #0056b3;
}


#suggestionList {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  max-height: 200px; 
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style for individual suggestion items */
#suggestionList div {
  padding: 10px;
  cursor: pointer;
  background-color: #f9f9f9;
  color: #333;
}

/* Highlight suggestion item on hover */
#suggestionList div:hover {
  background-color: #ddd;
}

.sidebarStoreDetails {
  position: absolute;
  padding: 20px;
  margin-left: 70px;
  width: 500px;
  display: flex;
  flex-direction: column;
  top: 15px;
  left: -650px; /* Initially hide the sidebar off-screen to the left */
  height: 95vh;
  background-color: #f1f1f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  transition: left 0.3s ease; 
  z-index: 2;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.sidebarStoreDetails.show-sidebar {
  left: 350px;
}


/* Style for the product list */
#productList {
  max-height: 100vh;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Style for each product item */
.product-item {
  position: relative;
  display: flex;
  flex-direction: row; 
  gap: 5px;
  padding: 5px 5px 5px 15px;
  border-bottom: 2px solid #b8b6b6;
  transition: background-color 0.3s ease;
}

/* .product-item.unavailable {
  pointer-events: none;
} */

/* .product-item.disabled-product {
  background: #ccc;
  opacity: 0.5;
  pointer-events: none;
} */

.offer-error {
  font-weight: bold;
  font-size: large;
  margin-top: 80px;
}


/* Style for the product name */
.product-name {
  font-weight: bold;
  font-size: 18px;
  width: 75%;
}

.product-category-subcategory {
  font-size: 15px;
  margin-top: -15px;
}

.product-misc-info {
  font-size: 15px;
}

.product-likes-dislikes {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-likes-dislikes.unavailable {
  color: #b8b6b6;
  pointer-events: none;
}

.likes-count, 
.dislikes-count{
  margin-left: 5px;
  margin-right: 10px;
}

.thumbsup-circle, .thumbsdown-circle {
  cursor: pointer;
  background-color: #ccc;
  border-radius: 50%;
  border: 1px solid #ccc;
  padding: 5px;
  padding-left: 6px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.fas.fa-thumbs-up,
.fas.fa-thumbs-down {
  font-size: 18px; 
  cursor: pointer;
}

.fas.fa-thumbs-up.unavailable,
.fas.fa-thumbs-down.unavailable {
  color: #b8b6b6 ;
  opacity: 0.5;
}

/* Style for the filled icon */
.filled {
  color: #2674bc; 
}

/* Style for the outline icon */
.outline {
  color: #333; 
  cursor: pointer;  
}

.product-stock-info {
  display: flex;
  align-items: center;
}

.product-stock {
  color: #333;
  margin-left: 5px;
  cursor: pointer;
}

.product-stock:link {
  text-decoration: none;
}

.product-stock:visited {
  color: #333;
  text-decoration: none;
}

.product-stock:hover {
  text-decoration: underline;
}

/* .product-in-stock, .product-out-stock {
  color: #333;
  margin-left: 5px;
  cursor: pointer;
}

.product-in-stock:link,.product-out-stock:link {
  text-decoration: none;
  cursor: pointer;
}

.product-in-stock:visited,.product-out-stock:visited {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.product-in-stock:hover, .product-out-stock:hover {
  text-decoration: underline;
} */


.product-available {
  font-weight: bold;
}

.product-available.unavailable {
  font-weight: bold;
  color: red;
}

.product-price {
  font-size: 25px;
  float: right;
  margin-block: -150px;
  right: 35px;
  position: absolute; 
}

.delete-button {
  position: absolute;
  right: 35px;
  top: 35px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  background-color: #df3a3a;
  color: white;
  font-weight: bold;  
}

.delete-button:hover {
  opacity: 0.8;
}

.delete-button .hide-button {
  display: none;
}

/* ----- Avatar at the top right Styling ----- */

.avatar-container {
  position: absolute;
  top: 0;
  right: 0; 
  margin: 10px; 
  z-index: 2;
}

  /* Styles for the user menu */
.user-menu {
  background-color: #333;
  border-radius: 50%; /* Makes it a circular shape */
  padding: 14px;
  padding-left: 14px;
  width: 60px;
  height: 60px;
  justify-content: center; 
  align-items: center; 
 }

 .user-menu i {
  color: #f9f9f9;
  margin-bottom: 10px;
 }

 .user-menu:hover {
  color: #333;
  background-color: #f9f9f9;
 }

 .user-menu:hover i {
  color: #333;
 }

/* Style for the avatar icon */
#avatar-icon {
  font-size: 32px;
  position:absolute;
  cursor: pointer;
  z-index: 2;
}

/* Dropdown menu styles */
/* Initial CSS to hide the dropdown menu */
.dropdown-content {
  display: none;
  position: absolute;
  right: 25px;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 25px;
  z-index: 2;
  align-items: center;
}

/* Style for dropdown menu items */

.dropdown-content p,
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  color: #333;
}

.dropdown-content p {
  pointer-events: none;
}

.dropdown-content a {
  cursor: pointer;
}

.dropdown-content button {
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  color: #333;
  background-color: #f9f9f9;
  font-size: 16px;
  width: 100%;
  text-align: left;
  
}

/* Highlight dropdown menu items on hover */
.dropdown-content button:hover,
.dropdown-content a:hover{
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.user-menu:hover .dropdown-content {
  display: block;
}



